@import './../../../sys/css/lib/reset.css'
@import './../../../sys/css/lib/css3'
@import 'browser/desktop'
@import 'browser/ipad'
@import 'browser/iphone'
@import 'browser/mobile'
@import './../../../sys/css/lib/helpers'
@import 'text'

//  Generic CSS
body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

//  Splash Page
#login
  margin: 0 auto
  width: 215px

#loading
  margin: 0 auto
  width: 33px

.frontEndInput
  background-image: url('/../themes/tranquility/images/ui/input.png')
  background-repeat: no-repeat
  border: 0
  background-color: transparent
  height: 30px
  width: 200px
  padding: 5px
  padding-left: 10px
  margin-bottom: 10px
  font-family: Helvetica
  color: white
  font-size: 24px
.loading
  background-image url('/../themes/tranquility/images/ui/ajax-loader.gif')
  background-repeat no-repeat
  height 33px
  width 33px  