@import './../../../sys/css/lib/reset.css';
#desktop {
  background-repeat: repeat-x;
  background-attachment: fixed;
  margin: auto;
  width: 950px;
}
#desktop #wrap {
  height: 400px;
}
#desktop #wrap #nav {
  width: 750px;
  height: 50px;
  margin: auto;
}
#desktop #wrap #nav ul {
  float: right;
}
#desktop #wrap li {
  float: left;
  list-style: none;
}
#desktop #wrap #viewport,
#desktop #wrap overflow hidden {
  position: relative;
  height: 400px;
}
.page_panel {
  position: absolute;
  width: 100%;
}
.ready_animate {
  top: 1000px;
}
.activated_panel {
  display: block;
}
.page_hide {
  opacity: 0;
}
.full_page table {
  margin-top: 5px;
  margin-bottom: 15px;
}
.full_page table thead tr td {
  padding: 8px;
}
.full_page table tbody tr td {
  padding: 4px;
  vertical-align: middle;
}
.full_page table tbody tr:nth-child(even) {
  background-color: #dedede;
}
#page_dashboard #col_right {
  float: right;
  padding-right: 6px;
}
#page_dashboard #col_center {
  margin: 0 auto;
}
#page_dashboard #col_left {
  float: left;
  padding-left: 6px;
}
#page_dashboard .col {
  width: 300px;
}
#page_dashboard #tabs {
  width: 90%;
  margin: auto;
}
#page_dashboard .option3 {
  width: 33%;
}
#page_dashboard .option2 {
  width: 48%;
  padding: 5px;
}
#page_dashboard .option2 table {
  width: 100%;
}
#page_dashboard .option1 table {
  width: 100%;
}
#ipad {
  background-image: url("http://politeauthority.com/remote/blackbox/images/main/gradient-1.png");
  background-repeat: repeat-x;
  background-attachment: fixed;
  width: 1000px;
}
#ipad #wrap {
  width: 1000px;
  margin: auto;
}
#iphone {
  width: 400px;
}
#mobile {
  width: 200px;
}
*:focus {
  outline: none;
}
.floatRight {
  float: right;
}
.floatLeft {
  float: left;
}
.clearFix .clearAll {
  width: 100%;
  display: block;
  float: none;
  height: 0px;
  line-height: 0px;
  clear: both;
}
.hide {
  display: none;
}
.button {
  background-color: #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #000;
}
.textRed {
  font-color: #f00;
}
h1 {
  font-size: 20px;
}
h1 {
  font-size: 16px;
}
.text-notify {
  font-style: itallic;
}
.text-warn {
  color: #f00;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#login {
  margin: 0 auto;
  width: 215px;
}
#loading {
  margin: 0 auto;
  width: 33px;
}
.frontEndInput {
  background-image: url("/../themes/tranquility/images/ui/input.png");
  background-repeat: no-repeat;
  border: 0;
  background-color: transparent;
  height: 30px;
  width: 200px;
  padding: 5px;
  padding-left: 10px;
  margin-bottom: 10px;
  font-family: Helvetica;
  color: #fff;
  font-size: 24px;
}
.loading {
  background-image: url("/../themes/tranquility/images/ui/ajax-loader.gif");
  background-repeat: no-repeat;
  height: 33px;
  width: 33px;
}
