@import './../../../sys/css/lib/reset.css';
#desktop {
  background-repeat: repeat-x;
  background-attachment: fixed;
  margin: auto;
  width: 950px;
  background-image: url("/../themes/tranquility/images/user/bg_user_1.jpg");
}
#desktop #wrap {
  widht: 1050px;
  height: 400px;
}
#desktop #wrap #nav {
  width: 750px;
  height: 50px;
  margin: auto;
  margin-bottom: 20px;
  background-image: url("/../themes/tranquility/images/ui/black30.png");
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-bottom-left-radius: 8px;
  -o-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-bottom-right-radius: 8px;
  -o-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
#desktop #wrap #nav ul {
  float: right;
}
#desktop #wrap #nav ul li {
  float: left;
  list-style: none;
  padding: 14px;
}
#desktop #wrap #nav ul li a {
  color: #ccc;
  text-decoration: none;
}
#desktop #wrap #nav ul li .deadButton {
  color: #4f4f4f;
}
#desktop #wrap #nav ul li a:hover {
  color: #fff;
}
#desktop #wrap #viewport {
  position: relative;
  height: 400px;
}
#desktop .page_panel {
  position: absolute;
  width: 100%;
}
#desktop .ready_animate {
  top: 1000px;
  display: none;
}
#desktop .activated_panel {
  display: block;
}
#desktop .page_hide {
  opacity: 0;
}
#desktop .full_page table margin-top 5px {
  margin-bottom: 15px;
}
#desktop .full_page table thead tr td {
  padding: 8px;
}
#desktop .full_page table tbody tr td {
  padding: 4px;
  vertical-align: middle;
}
#desktop .full_page table,
#desktop .full_page tbody,
#desktop .full_page tr:nth-child(even) {
  background-color: #dedede;
}
#desktop #page_dashboard #col_right {
  float: right;
  padding-right: 6px;
}
#desktop #page_dashboard #col_center {
  margin: 0 auto;
}
#desktop #page_dashboard #col_left {
  float: left;
  padding-left: 6px;
}
#desktop #page_dashboard .col {
  width: 300px;
}
#desktop #page_dashboard .col .portlet {
  margin-bottom: 10px;
  font-size: 18px;
}
#desktop #page_dashboard .col .portlet .portlet-header {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 3px;
}
#desktop #page_dashboard .col .portlet .portlet-content {
  padding: 5px;
}
#desktop #tabs {
  width: 90%;
  margin: auto;
}
#desktop #tabs .option3 {
  width: 33%;
}
#desktop #tabs .option2 {
  width: 48%;
  padding: 5px;
}
#desktop #tabs .option2 table {
  width: 100%;
}
#desktop #tabs .option1 table {
  width: 100%;
}
#ipad {
  background-image: url("http://politeauthority.com/remote/blackbox/images/main/gradient-1.png");
  background-repeat: repeat-x;
  background-attachment: fixed;
  width: 1000px;
}
#ipad #wrap {
  width: 1000px;
  margin: auto;
}
#iphone {
  width: 400px;
}
#mobile {
  width: 200px;
}
*:focus {
  outline: none;
}
.floatRight {
  float: right;
}
.floatLeft {
  float: left;
}
.clearFix .clearAll {
  width: 100%;
  display: block;
  float: none;
  height: 0px;
  line-height: 0px;
  clear: both;
}
.hide {
  display: none;
}
.button {
  background-color: #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #000;
}
.textRed {
  font-color: #f00;
}
h1 {
  font-size: 20px;
}
h1 {
  font-size: 16px;
}
.text-notify {
  font-style: itallic;
}
.text-warn {
  color: #f00;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#login {
  margin: 0 auto;
  width: 215px;
}
#loading {
  margin: 0 auto;
  width: 33px;
}
.frontEndInput {
  background-image: url("/../themes/tranquility/images/ui/input.png");
  background-repeat: no-repeat;
  border: 0;
  background-color: transparent;
  height: 30px;
  width: 200px;
  padding: 5px;
  padding-left: 10px;
  margin-bottom: 10px;
  font-family: Helvetica;
  color: #fff;
  font-size: 24px;
}
.loading {
  background-image: url("/../themes/tranquility/images/ui/ajax-loader.gif");
  background-repeat: no-repeat;
  height: 33px;
  width: 33px;
}
