$font_1 = "Lucida Grande", Helvetica, Arial, sans-serif
$font_2 = ''
$font_3 = ''
$primary_color = '#CCCCCC'
$secondary_color = '#CC0000'
$tertiary_color = '#CC0000'
input
  border-radius(3px)

@import 'user'