#wrap
	#frontEndLogo
	#clockFront
	#login.floatRight
		form(id='form_login')
			input.frontEndInput(name='username')(placeholder='name')
			br
			input.frontEndInput(name='password')(type='password')(placeholder='pass')
			br
			button.button(type='submit')
				|login