!!!
html
  head
    title= 'blackbox'
    script(src='/js/lib/jquery-1.7.1.min.js', type='text/javascript')
    script(src='/js/lib/jquery.md5.js', type='text/javascript')
    script(src='/js/lib/jquery-ui-1.8.18.custom.min.js', type='text/javascript')
    script(src='/js/lib/transify-min.js', type='text/javascript')
    script(src='/js/browser_detection.js', type='text/javascript')
    script(src='/js/main.js', type='text/javascript')
    script(type='text/javascript')
      var a = '#{test}'
      console.log(a)
    link(rel='stylesheet', href='/css/style.css')
  body!= body
