*:focus
  outline: none

.clearFix
  clear: both

.floatRight
  float: right
  
.floatLeft
  float: left

.loading
  background-image url('/images/ajax-loader.gif')
  background-repeat no-repeat
  height 33px
  width 33px