@import 'reset.css'
@import 'helpers'
@import 'desktop'
@import 'ipad'
@import 'iphone'
@import 'mobile'

//  Generic CSS
body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  
.button
  background-color: white
  border-radius: 8px
  border: 1px solid black
#wrap
  position: absolute
  width: 100%
  overflow: hidden
  margin-top:10px

.clearAll
  width:100%
  display:block
  float:none
  height:0px
  line-height:0px
  clear:both
//  Splash Page

#login
  margin: 0 auto
  width: 215px

#loading
  margin: 0 auto
  width: 33px

.frontEndInput
  background-image: url('http://politeauthority.com/remote/blackbox/images/gfx/input.png')
  background-repeat: no-repeat
  border: 0
  background-color: transparent
  height: 30px
  width: 200px
  padding: 5px
  padding-left: 10px
  margin-bottom: 10px
  font-family: Helvetica
  color: white
  font-size: 24px

.page_panel
  border-radius:15px
  mox-border-radius:15px
  width: 600px
  position: relative
  display: none
  margin: 0 auto
  background:#fff
  padding:30px
.page_panel .login_wrapper
  margin-top:100px

  
.activated_panel
  display: block
  position: relative