@import 'reset.css';
*:focus {
  outline: none;
}
.clearFix {
  clear: both;
}
.floatRight {
  float: right;
}
.floatLeft {
  float: left;
}
.loading {
  background-image: url("/images/ajax-loader.gif");
  background-repeat: no-repeat;
  height: 33px;
  width: 33px;
}
#desktop {
  background-image: url("http://politeauthority.com/remote/blackbox/images/main/gradient-1.png");
  background-repeat: repeat-x;
  background-attachment: fixed;
}
#desktop #wrap {
  width: 1110px;
  margin: auto;
}
#ipad {
  background-image: url("http://politeauthority.com/remote/blackbox/images/main/gradient-1.png");
  background-repeat: repeat-x;
  background-attachment: fixed;
  width: 1000px;
}
#ipad #wrap {
  width: 1000px;
  margin: auto;
}
#iphone {
  width: 400px;
}
#mobile {
  width: 200px;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.button {
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #000;
}
#wrap {
  position: absolute;
  width: 100%;
  overflow: hidden;
  margin-top: 10px;
}
.clearAll {
  width: 100%;
  display: block;
  float: none;
  height: 0px;
  line-height: 0px;
  clear: both;
}
#login {
  margin: 0 auto;
  width: 215px;
}
#loading {
  margin: 0 auto;
  width: 33px;
}
.frontEndInput {
  background-image: url("http://politeauthority.com/remote/blackbox/images/gfx/input.png");
  background-repeat: no-repeat;
  border: 0;
  background-color: transparent;
  height: 30px;
  width: 200px;
  padding: 5px;
  padding-left: 10px;
  margin-bottom: 10px;
  font-family: Helvetica;
  color: #fff;
  font-size: 24px;
}
.page_panel {
  border-radius: 15px;
  mox-border-radius: 15px;
  width: 600px;
  position: relative;
  display: none;
  margin: 0 auto;
  background: #fff;
  padding: 30px;
}
.page_panel .login_wrapper {
  margin-top: 100px;
}
.activated_panel {
  display: block;
  position: relative;
}
