#ipad
  background-image: url('http://politeauthority.com/remote/blackbox/images/main/gradient-1.png')
  background-repeat: repeat-x
  background-attachment: fixed
  width 1000px
  #wrap
    width: 1000px
    margin: auto