body {
  background-image: url("http://politeauthority.com/remote/blackbox/images/main/gradient-1.png");
  background-repeat: repeat-x;
  background-attachment: fixed;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
wrap {
  width: 1110px;
  margin: auto;
}
#frontEndLogo {
  background-image: url("http://politeauthority.com/remote/blackbox/images/main/logo.png");
  background-repeat: no-repeat;
  height: 200px;
  width: 594px;
  text-align: center;
  margin: auto auto;
  margin-top: 35px;
  margin-bottom: -51px;
}
#clockFront {
  height: 500px;
  width: 759px;
  background-image: url("http://politeauthority.com/remote/blackbox/images/clock/large/clock.png");
  background-repeat: no-repoeat;
  margin: auto auto;
}
#login {
  margin-right: 350px;
  margin-top: -180px;
}
.frontEndInput {
  background-image: url("http://politeauthority.com/remote/blackbox/images/gfx/input.png");
  background-repeat: no-repeat;
  border: 0;
  background-color: transparent;
  height: 30px;
  width: 200px;
  padding: 5px;
  padding-left: 10px;
  margin-bottom: 10px;
  font-family: Helvetica;
  color: #fff;
  font-size: 24px;
}
.clearFix {
  clear: both;
}
.floatRight {
  float: right;
}
.floatLeft {
  float: left;
}
a {
  color: #00b7ff;
}
