body {
  background-image: url("http://politeauthority.com/remote/blackbox/images/main/gradient-1.png");
  background-repeat: repeat-x;
  background-attachment: fixed;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
wrap {
  width: 1110px;
  margin: auto;
}
#frontEndLogo {
  background-image: url("http://politeauthority.com/remote/blackbox/images/main/logo.png");
  background-repeat: no-repeat;
  height: 200px;
  width: 594px;
  text-align: center;
  margin: auto auto;
  margin-top: 35px;
  margin-bottom: -51px;
}
a {
  color: #00b7ff;
}
