script(type='text/javascript')
	$(function() {
		$( '#tabs' ).tabs();
		$('#settings').click(function(ev){
			ev.preventDefault();
			#{user_socket}.emit('get_settings', {'test':'test2'});
		});
	});
div.page_panel.dashboard_wrapper
	div#settings.full_page
		h1 Dashboard
		a#settings(href='settings')|hjgkjhvhvjh