!!!
html
  head
    title= 'Blackbox'
    script(src='sys/js/jquery-1.7.1.min.js', type='text/javascript')
    script(src='sys/js/jquery-md5.min.js', type='text/javascript')
    script(src='sys/js/jquery-ui-1.8.18.custom.min.js', type='text/javascript')
    script(src='themes/tranquility/js/browser_detection.js', type='text/javascript')
    script(src='themes/tranquility/js/main.js', type='text/javascript')
    link(rel='stylesheet', href='/themes/tranquility/css/style.css')
    link(rel='stylesheet', href='/sys/css/jquery-ui-themes/flick/jquery-ui-1.8.18.custom.css')
  body!= body