#desktop
  background-repeat repeat-x
  background-attachment fixed
  width 1110px
  #wrap
    margin: auto
	.page_panel
	  border-radius(15px)
	  width: 800px
	  position: relative
	  display: none
	  margin: 0 auto
	  padding:30px
	.full_page
	  background-image: url('/../themes/tranquility/images/ui/white30.png')
	  border-radius(5px)
	  box-shadow(3px 2px 1px)
	  table
	  	margin-top 5px
	  	margin-bottom 15px
	  table thead tr td
	    padding: 8px
	  table tbody tr td
	    padding: 4px
	    vertical-align: middle
	  table
	  	tbody
	  	  tr:nth-child(even)
  		    background-color: #dedede
	  #tabs
	    width: 90%
	    margin: auto
	  .option3
	  	width: 33%
	  .option2
	  	width:48%
	  	padding: 5px;
	  	table
	  	  width 100%  	  
	  .option1
	    table
	      width: 100%
	.page_panel .login_wrapper
	  margin-top: 100px