div#wrap
	h1| Welcome to Blackbox!
	div#info.failed-info
		div#info-head
			h2 We had some issues...
		ul
			li Mysql installed successfully
			li node installed successfully
			li
				ul
					li forever
					li.textRed
						|express
					li stlyus
					li jade