!!!
html
  head
    title= 'blackbox'    
    script(type='text/javascript')
      var a = '#{test}'
      console.log(a)
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='css/jquery-ui-themes/flick/jquery-ui-1.8.18.custom.css')
  body!= body