@import 'lib/reset.css';
*:focus {
  outline: none;
}
.floatRight {
  float: right;
}
.floatLeft {
  float: left;
}
.clearFix .clearAll {
  width: 100%;
  display: block;
  float: none;
  height: 0px;
  line-height: 0px;
  clear: both;
}
.hide {
  display: none;
}
.button {
  background-color: #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #000;
}
.textRed {
  font-color: #f00;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1 {
  font-size: 42px;
}
h2 {
  font-size: 20px;
}
#wrap {
  width: 800px;
  overflow: hidden;
  margin-top: 10px;
  margin: auto;
  text-align: center;
  margin-top: 100px;
}
#title {
  font-size: 20px;
}
#info {
  padding: 15px;
  margin: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  text-align: left;
}
#info-head {
  border-bottom: 1px solid #d0d0d0;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
#continue {
  margin-top: 40px;
  padding-bottom: 10px;
}
.options {
  text-align: center;
}
.general-info {
  border: 1px solid #d0d0d0;
  -moz-box-shadow: 0 0 8px #d0d0d0;
  -webkit-box-shadow: 0 0 8px #d0d0d0;
  box-shadow: 0 0 8px #d0d0d0;
}
.failed-info {
  border: 1px solid #f00;
  -moz-box-shadow: 0 0 8px #f00;
  -webkit-box-shadow: 0 0 8px #f00;
  box-shadow: 0 0 8px #f00;
}
.good-info {
  border: 1px solid #008000;
  -moz-box-shadow: 0 0 8px #008000;
  -webkit-box-shadow: 0 0 8px #008000;
  box-shadow: 0 0 8px #008000;
}
input {
  font-size: 30px;
  padding: 5px;
  margin: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.normal {
  border: 1px solid #ccc;
  -moz-box-shadow: 0 0 8px #d0d0d0;
  -webkit-box-shadow: 0 0 8px #d0d0d0;
  box-shadow: 0 0 8px #d0d0d0;
}
.button {
  font-size: 18px;
}
.active {
  border: 1px solid #008000;
  -moz-box-shadow: 0 0 8px #008000;
  -webkit-box-shadow: 0 0 8px #008000;
  box-shadow: 0 0 8px #008000;
}
ul li {
  list-style: none;
}
ul ul {
  padding-left: 10px;
}
#login {
  margin: 0 auto;
  width: 215px;
}
#loading {
  margin: 0 auto;
  width: 33px;
}
