*:focus
  outline: none
.clearFix .clearAll
  width:100%
  display:block
  float:none
  height:0px
  line-height:0px
  clear:both
.hide
  display: none
.floatRight
  float: right
.floatLeft
  float: left
.button
  background-color: white
  border-radius: 8px
  border: 1px solid black
.loading
  background-image url('/../themes/tranquility/images/ajax-loader.gif')
  background-repeat no-repeat
  height 33px
  width 33px