*:focus
  outline: none
.floatRight
  float: right
.floatLeft
  float: left
.clearFix .clearAll
  width:100%
  display:block
  float:none
  height:0px
  line-height:0px
  clear:both
.hide
  display: none
.button
  background-color: white
  border-radius: 8px
  border: 1px solid black
.textRed
  font-color red